*{
  padding: 0;
  margin: 0;
  font-family: Inter,sans-serif;
  background-color: #161616;
  color: #ffff;
}

.Navbar{
  width:100%;
  height: 70px;
  padding: 30px 0 0 220px;
  display:flex;
  justify-content: space-between;
}
.Navbar > form{
  width: 80%;
}
.games-title{
  height: 40px;
  margin-left: 16px;
}
.games-title:hover{
  cursor: pointer;
}
.Search-bar{
  background-color: #3B3B3B;
  font-size: 1rem;
  letter-spacing: 1px;
  margin-left: 20px;
  height: 28px;
  width:60%;
  border: none;
  border-radius: 20px;
  padding: 5px 0 5px 14px;
}

.main-section{
  display: flex;
  width:100%;
}
.side-panel{
  width:200px;
  height: 100%;
 
  padding-left: 30px;
  padding-top: 7px;
  position:fixed;
  overflow-y:scroll;
  z-index: 1;
  top:7.5ch;
  bottom:0;
}
.dropdown{
  display: none;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
/* ::-webkit-scrollbar-track {
  background: #f1f1f1;
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: #222020;
} */

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* ::-webkit-scrollbar-track-piece{

} */

.genre{
  display: flex;
  height: 28px;
  font-size: 14px;
  margin-top: 10px;
}
.genre >div{
  color: #d6d6ce !important;
}
.genre:hover{
  cursor: pointer;
  text-decoration: underline;
}
.selected-genre{
  color:#ffff;
  height: 30px;
  font-size: 16px;
  font-weight: bold;
}
.body-section >h3{
  /* margin-bottom: 17px;
  margin-top: 17px; */
  font-size: x-large;
  position: fixed;
  top:2.5ch;
  left:2ch;
  
}
.genre>img{
  height: 30px;
  width: 32px;
  border-radius: 6px;
  margin-right: 8px;
}
.genre>div{
  vertical-align: middle;
  padding-top: 4.5px;
}

.content{
  width: 80%;
}
.content-top{
  margin-left: 258px;
  margin-bottom: 30px;
  color: #D7D7D4;
  display: flex;
}
ul{
  width:110px;
  background-color: #212120;
  list-style-type: none;
  font-size: 14px;
  margin-top: 6px;
  /* padding: 6px; */
  border-radius: 5px;
  overflow: hidden;
}
li{
  background-color: inherit;
  padding:5px;
  vertical-align:middle;
  margin-left:7px;
  margin-right:7px;
  margin-top: 7px !important;
  /* border-radius: 5px; */
  overflow: hidden;
}
li:hover{
  background-color:#3B3B3B;
  cursor: pointer;
}
.enable{
  display: block;
  position: absolute;
  border-radius: 5px;
}
.sort{
  margin-left: 20px;
}
.sort>button{
  background-color: #313030;
  padding: 10px;
  border: none;
  width:max-content;
  text-align: left;
  border-radius: 4px;
  font-size: 14px;
}
.sort-list{
  display: none;
}
.platforms>button{
  background-color: #313030;
  padding: 10px;
  border: none;
  width:max-content;
  text-align: left;
  border-radius: 4px;
  font-size: 14px;
}
.platforms-list{
  display: none;
}
#platforms-list{
  width:150px
}
#sort-list{
  width:170px;
}
button:hover{
  cursor: pointer;
}
.games-panel{
  margin-left: 232px;
    width:100%;
  /* border: solid 2px ; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.game-card{
  height: 20em;
  width:30%;
  min-width: 300px;

  margin-right: 20px;
  margin-bottom: 10px;
  font-weight: bold;
  background-color: #202020;
  border-radius: 8px;
}

.skeleton-card{
  height: 20em;
  width:30%;
  
  margin-right: 20px;
  margin-bottom: 10px;
  background-color: #202020;
  border-radius: 10px;
  overflow: hidden;
  }
  
.card{
    background-color: #202020 !important;
    width:100%;
    height: 100%;
}
.card-body{
  background-color: #202020;
  padding: 0 !important;
  width:100%;
  height:100%;
}
.card-body>p{
  background-color: inherit;
}
.placeholder-glow{
  opacity:.7;
  animation: skeleton-loading 1s linear infinite alternate;
}
@keyframes skeleton-loading {
  0%{
    background-color: hsl(203, 6%, 25%);
  }
  100%{
    background-color: hsl(196, 7%, 60%);
  }
}
.game-card > img{
  height: 60%;
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
/* .game-details>p{
  background-color: #202020;
  border: solid thin white;
  margin: 0 auto;
  width: max-content;
  padding: 2px;
  font-size: small;
} */
.game-details{
  background-color: #202020;
}
.green{
  background-color: #202020;
  margin: 0 auto;
  width: max-content;
  padding: 2px;
  font-size: small;
  border: solid thin green;
  color: green;
  border-radius: 3px;
}
.yellow{
  background-color: #202020;
  margin: 0 auto;
  width: max-content;
  padding: 2px;
  font-size: small;
  border: solid thin rgb(233, 233, 120);
  color: rgb(216, 216, 94);
  border-radius: 3px;
}
.red{
  background-color: #202020;
  margin: 0 auto;
  width: max-content;
  padding: 2px;
  font-size: small;
  border: solid thin rgb(228, 92, 92);
  color: rgb(228, 92, 92);
  border-radius: 3px;
}
.game-details > h3{
  background-color: #202020;
}



/* media queries*/

@media screen and (max-width: 800px){
  .game-card{
    height: 80%;
    width:100%;
  }
  .Navbar{
    width:80%;
    padding-left: 60px;
  }
  .side-panel{
    /* width:0%; */
    position:absolute;
    top:15.5ch;
    left:8ch;
    padding-left:0;
  }
  .body-section >h3{
    font-size: x-large;
    position:absolute;
    top:7.5ch;
    left:8ch;
  }
  .dropdown{
    display: block;
    position:absolute;
    top:12ch;
    left:22.5ch;
  }
  .dropped{
    width: 0%;
  }
  
  .games-panel{
    margin-left:50px;
  }
  
}

@media screen and (max-width:610px){
  .content-top{
    margin-left:80px;
    width: 20%;
    display: flex;
    justify-content: left;
  }
  .dropdown{
    display: block;
    position:absolute;
    top:12ch;
    left:9.5ch;
  }
  .body-section >h3{
    font-size: x-large;
    position:absolute;
    top:7.5ch;
    left:0ch;
  }
  .side-panel{
    /* width:0%; */
    
    left:2ch;
   
  }
  .content{
    margin: 0 auto;
  }
  .games-panel{
    width: 80%;
    margin: 0 auto;
  }
}